.hero__section {
    background: url(./images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 17px 48px;
  }
  .navbar a {
    color: antiquewhite;
    text-decoration: none;
  }
  .navebar__manu__container {
    display: flex;
    gap: 18px;
  }
  .navebar__manu__container .user__icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid blanchedalmond;
    display: none;
  }
  @media only screen and(max-width:600px) {
    .navebar__manu__container .user__icon {
      display: flex;
    }
    .link {
      display: none;
    }
    .hero__section {
      min-height: 80vh;
    }
  }
  